name: Minecraft Server with Ngrok

on: [push]

jobs:
  start-server:
    runs-on: ubuntu-latest
    steps:
     
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      - name: Instalar dependencias necesarias
        run: sudo apt-get install -y wget unzip

      - name: Descargar e instalar Ngrok
        run: |
          wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
          unzip ngrok-stable-linux-amd64.zip
          chmod +x ngrok
          ./ngrok authtoken ${{ secrets.NGROK_AUTH }}

      - name: Exponer el servidor con Ngrok
        run: nohup ./ngrok http --url=delicate-ready-burro.ngrok-free.app 80 > ngrok.log 2>&1 &

      - name: Mostrar la direcci贸n de conexi贸n
        run: cat ngrok.log | grep -o 'http://[^ ]*'

      - name: Mantener el proceso en ejecuci贸n
        run: sleep infinity
