name: Minecraft Server with Ngrok

on: [push]

jobs:
  start-server:
    runs-on: ubuntu-latest
    steps:
     
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar dependencias necesarias
        run: sudo apt-get install -y wget unzip

      - name: Descargar e instalar Ngrok
        run: |
          wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
          unzip ngrok-stable-linux-amd64.zip
          chmod +x ngrok  # Asegurar que ngrok tiene permisos de ejecución
          ./ngrok authtoken ${{ secrets.NGROK_AUTH }} 
      - name: Exponer el servidor con Ngrok
        run: nohup ./ngrok tcp 25565 > ngrok.log 2>&1 &

      - name: Obtener dirección de conexión
        run: cat ngrok.log | grep -o 'tcp://[^ ]*'

      - name: Mantener el proceso en ejecución
        run: sleep infinity
